[Unit]
Description=The Subtle Team Bot

[Service]
ExecStart=/home/montykai/subtl-team/node_modules/.bin/ts-node ./src/index.ts

WorkingDirectory=/home/montykai/subtl-team
# StandardOutput=syslog
# StandardError=syslog
SyslogIdentifier=subtle-team
Restart=always

[Install]
WantedBy=multi-user.target
